.course{
    font-family: 'Montserrat', sans-serif;
    border-left: 2px solid rgb(61, 234, 164);
    padding-left: 25px;
    
}
.course-name  {
    font-size: 20px;
    position: relative;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
}
.institute{
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.8;
    color: #ccc;
}
.session, .year{
    color: #ddd;
    font-weight: 300;
    margin-top: 3px;
    font-size: 15px;
    line-height: 1.5;
}

